body {
	background: #2a2a2a;
}

.wrap {
	overflow: hidden;
	width: 320px;
	margin: 0 auto;
}

.background-img {
	display: none;
}

ul {
	margin-top: 0;
	padding: 0;
}

ol {
	margin-top: 30%;
}

p {
	text-align: center;
	line-height: 250%;
	margin-top: 100px;
}

h1 {
	color: rgb(148, 194, 122);
	border-style: double;
	border-color: rgb(104, 96, 22) rgb(230, 37, 220)
}

h2 {
	color: rgba(5, 28, 231, 0.911);
	text-align: center;
	font-size: 180%;
	background-color: rgb(226, 233, 124);
	text-transform: capitalize;
}

#logo {
	text-align: center;
	margin-bottom: 4em;
	text-decoration: none;
	color: rgb(41, 37, 37);
	margin-bottom: 4em;
}

.template {
	color: white;
	border-style: solid;
	text-align: center;
	background-color: crimson;
}

.title {
	margin-top: 25%;
}

img, template {
	max-width: 100%;
}

a, span {
	display: block;
	padding: 2em 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(253, 159, 253, 0.5);
}

a:hover {
	color: rgb(158, 157, 241);
	background: #283b72;
}

a:active {
	color: red;
}

#main {
	width: 0 auto;
	background: rgb(230, 206, 199);
}

#pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	width: 80%;
}

#pic3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 80%;
}

span {
	display: block;
	letter-spacing: 0.20em;
	line-height: 2.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(0, 0, 0, 0.7);
	padding: 5em 0em;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#pie {
	color: red;
}

footer .copyright {
	margin: auto;
	font-size: .99em;
	color: rgb(10, 10, 10);
}

footer li {
	display: inline-block;
}

#git {
	text-indent: -2px;
}

.social {
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	text-transform: uppercase;
	text-indent: -9px;
	width: 56px;
	height: 23px;
	opacity: .85;
}

@media (min-width: 768px) {
	.wrap {
		width: 98%;
		margin: 0 auto;
	}
	h1 {
		background-color: rgb(34, 13, 53);
	}
	#logo img {
		width: 98%;
	}
	a:hover {
		color: rgb(135, 220, 235);
		background: #047386;
	}
	a:active {
		color: red;
	}
	p {
		font-size: 150%;
	}
	.title {
		margin-top: 18%;
	}
	ol {
		font-size: 200%;
		line-height: 200%;
	}
	#pic {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
		width: 80%;
	}
	#pic3 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
		width: 80%;
	}
	.social {
		margin-left: 110px;
	}
}

@media (min-width: 1024px) {




	
}