body {
	background: #2a2a2a;
}

.wrap {
	overflow: hidden;
	width: 320px;
	width: 100%;
}

.background-img {
	display: none;
}

ul {
	margin-top: 0;
	padding: 0;
}

ol {
	margin-top: 30%;
}

p {
	text-align: center;
	line-height: 250%;
	margin-top: 100px;
}

h1 {
	color: rgb(148, 194, 122);
	border-style: double;
	border-color: rgb(104, 96, 22) rgb(230, 37, 220)
}

h2 {
	color: rgba(5, 28, 231, 0.911);
	text-align: center;
	font-size: 180%;
	background-color: rgb(226, 233, 124);
	text-transform: capitalize;
}

#logo {
	text-align: center;
	margin-bottom: 4em;
	text-decoration: none;
	color: rgb(41, 37, 37);
	margin-bottom: 4em;
}

.kani {
	background-image: radial-gradient(rgb(37, 228, 11), rgb(0, 217, 255), rgb(241, 82, 220));
}

.template {
	color: white;
	border-style: solid;
	text-align: center;
	background-color: crimson;
}

.title {
	margin-top: 25%;
}

img, template {
	max-width: 100%;
}

a, span {
	display: block;
	padding: 2em 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(253, 159, 253, 0.5);
}

a:hover {
	color: rgb(158, 157, 241);
	background: #283b72;
}

a:active {
	color: red;
}

#main {
	background: rgb(230, 206, 199);
}

#pic1, #pic2, #pic3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	width: 80%;
}

#pic3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 80%;
}

span {
	display: block;
	letter-spacing: 0.20em;
	line-height: 2.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(0, 0, 0, 0.7);
	padding: 5em 0em;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#pie {
	color: red;
}

.copyright {
	margin: auto;
	font-size: .99em;
	color: rgb(10, 10, 10);
}

.social1 {
	color: transparent;
	text-justify: auto;
	background-image: url(/image/twitter.svg);
	background-repeat: no-repeat;
	background-position: center;
	text-decoration: none;
}

.social2 {
	color: transparent;
	background-image: url(/image/linkedin.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social3 {
	color: transparent;
	background-image: url(/image/github.svg);
	background-repeat: no-repeat;
	background-position: center;
}

@media (min-width: 768px) {
	.wrap {
		width: 98%;
		margin: 0 auto;
	}
	h1 {
		background-color: rgb(34, 13, 53);
	}
	#logo img {
		width: 98%;
	}
	a:hover {
		color: rgb(135, 220, 235);
		background: #047386;
	}
	a:active {
		color: red;
	}
	p {
		font-size: 150%;
	}
	.title {
		margin-top: 18%;
	}
	ol {
		font-size: 200%;
		line-height: 200%;
	}
	#pic {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
		width: 80%;
	}
	#pic3 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10%;
		width: 80%;
	}
	.menu {
		font-size: 25px;
	}
	ol li {
		margin-left: 5%;
	}
	.kani {
		background-image: radial-gradient(rgb(37, 228, 11), rgb(0, 217, 255), rgb(241, 82, 220));
	}
}

@media (min-width: 1024px) {
	#profile1 {
		display: none;
	}
	#grab {
		display: inline;
		width: 100%;
	}
	.menu {
		margin-top: 100px;
		padding-top: 150px;
	}
	p {
		margin-top: 200px;
		font-size: 30px;
	}
	h1, h2 {
		font-family: 'Times New Roman', Times, serif;
		font-size: 50px;
	}
	ol {
		margin-left: 100px;
	}
	.kani {
		background-image: radial-gradient(rgb(37, 228, 11), rgb(0, 217, 255), rgb(241, 82, 220));
	}
	#grab {
		display: flex;
		border-color: rgb(78, 205, 243);
		margin: 0 auto;
		align-items: center;
		width: 90%;
		border-radius: 50%;
		border-width: 20px;
	}
}